@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

html, body {
  height: 100%;
  overflow: hidden;
  background: #09090b; /* zinc-950 */
}
